@use "../../assets/scss/variables" as *;

.root {
  &__controllerContainer {
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
  }

  &__playerWrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-bottom: 1rem;
  }

  &__controllers {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    background-color: black;
  }

  &__logo img {
    width: 6rem;
  }

  &__spotifyController {
    display: none;
  }

  @media (min-width: $breakpoint-lg) {
    &__controllerContainer {
      position: relative;
      padding: 0;
      background-color: transparent;
    }
    &__playerWrapper {
      flex-direction: column-reverse;
    }
    &__controllers {
      background-color: $grey;
    }
    &__logo img {
      display: none;
    }
  }
}
