.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: $grey;
  display: flex;
  justify-content: center;
}

.modal-content {
  width: 80vw;
}

.modal-title {
  display: flex;
  color: #61dafbb8;
  justify-content: center;
  text-decoration: underline;
}

.modal-qr {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
