@use "../../assets/scss/variables" as *;

.root {
  &__lyrics {
    display: none;
  }

  &__loader {
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // &__lyrics::-webkit-scrollbar {
  //   display: none;
  // }

  @media (min-width: $breakpoint-md) {
    &__lyrics {
      height: 28vw;
      font-size: 1.5rem;
      color: $faded-blue;
      text-align: center;
      white-space: pre;
      overflow-y: scroll;
    }
  }
}
