@use "../../assets/scss/variables" as *;

.Desktop {
  padding: 1rem;
  overflow: hidden;

  &__top {
    width: 100%;
    display: flex;
    // justify-content: space-between;
  }

  &__logo img {
    width: 5vw;
  }

  &__queuelist {
    // margin: auto;
  }

  &__video {
    width: 70%;
    margin-left: auto;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__qr {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__bottomRightContainer {
    width: 70vw;
    display: flex;
    justify-content: space-between;
  }

  &__searchTop {
    margin: 1.25rem 0;
    display: flex;
  }

  &__searchTopContainer {
    width: 100%;
  }

  &__searchForm {
    display: flex;
    align-items: center;
  }

  &__dropdown {
    display: flex;
    align-items: center;
  }

  &__resultList {
    display: flex;
    align-items: center;
  }

  @media (min-width: 1300px) {
    // &__logo {
    //   margin-left: 1rem;
    // }

    // &__qr {
    //   margin-left: 7rem;
    // }
  }

  @media (min-width: 1600px) {
    &__bottom {
      margin-left: 0;
    }

    &__logo {
      margin-left: 2rem;
    }

    // &__qr {
    //   margin-left: 8rem;
    // }

    // &__searchTop {
    //   justify-content: flex-start;
    // }
  }

  @media (min-width: 1700px) {
    // &__qr {
    //   margin-left: 9rem;
    // }

    &__bottom {
      margin-top: 0;
    }
  }
}
